APP_NAME = batches_management
DB_URL = postgresql+asyncpg://postgres:postgres@localhost:5432/project
DB_URL_SYNC = postgresql+psycopg2://postgres:postgres@localhost:5432/project
RABBITMQ_URL = amqp://guest:guest@localhost:5672
REDIS_URL = redis://localhost:6379/0
MINIO_ENDPOINT = localhost:9000
MINIO_ACCESS_KEY = minioadmin
MINIO_SECRET_KEY = minioadmin
MINIO_SECURE = False
SMTP_FROM = example@gmail.com
SMTP_PORT = 587
SMTP_HOST = smtp.gmail.com
SMTP_USER = example@gmail.com
SMTP_PASSWORD = your_app_password
SMTP_STARTTLS = true
SMTP_LOGIN = true
PRODUCTION_TIMEZONE = Europe/Moscow
